html, body, #root {
    height: 100%
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
}

label {
    width: 100%;
}

.noUi-pips {
    font-size: 0.8rem;
}

.age-slider, .hospital-slider {
    width: 90%;
}

.subtitle {
    font-weight: 400;
    font-size: 0.8rem;
}

.info-subtitle {
    font-weight: 700;
    margin-right: 5px;
    color: #3d5170 !important;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: #a0a0a0;
}
